<div class = "page-header">
  <h1><%=@project.name%>: Manage Members </h1>
</div>

<div>
  <ol class="breadcrumb">
    <li><%=link_to "Projects", projects_path%></li>
    <li><%=link_to @project.name, @project%></li>
    <li class="active">Memberships</li>
  </ol>
</div>

<div class = "well">
<%=form_for [@project, @membership], html:{class: "form-inline"} do |f|%>
  <%=f.collection_select(:user_id, User.all, :id, :full_name, {prompt: "Please select a user..."})%>
  <%=f.collection_select(:role, Membership::ROLE, :to_s, :to_s)%>
  <%=f.submit "Add New Member", class: "btn btn-primary"%>
<%end%>
</div>


<%@project.users.each do |user|%>
    <p><%=user.full_name%></p>
<%end%>
