<div class = "page-header">
  <div class="pull-right"><%=link_to 'New Task', new_task_path, class: "btn btn-info"%></div>
  <h1>Tasks</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <div=col-md-2>
      <th> Description</th>
    </div>
    <div=col-md-2>
      <th> Due on</th>
    </div>
    </tr>
      <% @tasks.each do |task| %>
    <tr>
  </thead>
  <div=col-md-2>

  <td>
    <%if task.completed == true%>
        <s><%=link_to task.description%></s>
      <%else%>
          <%=link_to task.description%>
      <%end%>
  </td>
</div>
  <div=col-md-2>
  <td>
    <%=task.due_date%>
  <td>
</div>
    <div class="text-right">
      <%=link_to 'Edit', edit_task_path(task), class: "btn btn-info"%>
      <%=link_to 'Destroy', task, method: :delete, class: "btn btn-danger"%>
    </div>
    </td>
  </tr>

  <%end%>
</table>
