<div class = "page-header">
  <div class="pull-right"><%=link_to 'New Task', new_project_task_path(@project, @task), class: "btn btn-info"%></div>
  <h1>Tasks</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th> Description</th>
      <th> Due on</th>
      <th></th>
    </tr>
      <% @tasks.each do |task| %>
    <tr>
  </thead>
  <div=col-md-2>
  <td>
    <%if task.completed == true%>
        <s><%=link_to task.description, project_task_path(@project, task)%></s>
      <%else%>
          <%=link_to task.description, project_task_path(@project, task)%>
      <%end%>
    </td>
  </div>
  <div=col-md-2>
    <td>
      <%if task.due_date != nil%>
        <%=task.due_date.strftime("%m/%d/%Y")%>
      <%end%>
    </td>
  </div>
    <td>
    <div class="text-right">
      <%=link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-info"%>
      <%=link_to 'Destroy', project_task_path(@project, task), method: :delete, class: "btn btn-danger"%>
    </div>
  </td>
  </tr>

  <%end%>
</table>
