<!DOCTYPE html>

<html>
<head>
  <title>GCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">gCamp</a>
      </div>
        <p class="navbar-text navbar-right">
        <%if current_user%>
          <%=link_to current_user.first_name + ' ' + current_user.last_name, user_path%>
        <%else%>
          <%=link_to "Sign up for gCamp!", sign_up_path%>
        <%end%>
        </p>
  </div>
  </nav>
  <div class="container">
    <% if flash[:notice].present? %>
    <div class="alert alert-success">
      <p><%= flash[:notice] %></p>
    </div>
    <% end %>
    <%= yield %>
  </div>
</body>
<footer>
  <div class="container">
    <hr>

    <%=link_to "About", "/about" %> | <%=link_to "Terms", "/terms"%> | <%=link_to "FAQs", "/faqs" %> | <%=link_to "Tasks", "/tasks"%> | <%=link_to "Users", "/users"%> | <%=link_to "Projects", "/projects"%>

    <%=link_to "https://students.gschool.it/students/270" do %>
      <%=image_tag("galvanize_icon.png", class: "social_media_links")%>
    <%end%>
    <%=link_to "http://twitter.com/amybertken" do %>
      <%=image_tag("twitter_icon.png", class: "social_media_links")%>
    <%end%>

    <%=link_to "https://github.com/amymb" do %>
      <%=image_tag("github_icon.png", class: "social_media_links") %>
    <%end%>

    <%=link_to "http://linkedin.com/in/amybertken" do %>
      <%=image_tag("linked_in_icon.jpg", class: "social_media_links") %>
    <%end%>
  </div>
</footer>
</html>
